@model IEnumerable<EduTech.Models.StudentGrade>

@{
    ViewData["Title"] = "My Grades";
    var class_info = Model.FirstOrDefault()?.Class;
}

<a asp-controller="Student" asp-action="ClassesEnroll" class="text-decoration-none">
    <i class="bi bi-house-door"></i> Quay lại lớp đăng ký học
</a>

<div class="container mt-4">
    @if (class_info != null)
    {
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Thông tin lớp học</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Tên lớp:</strong> @class_info.Course.Name</p>
                        <p><strong>Tên môn học:</strong> @class_info.Name</p>
                        <p><strong>Giảng viên:</strong> @foreach (var lecturer in class_info.Lecturers)
                            {
                                <span>@lecturer.Name</span>
                            }
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Phòng học:</strong> @class_info.RoomNumber</p>
                        <p><strong>Ngày bắt đầu:</strong> @class_info.StartDate</p>
                        <p><strong>Ngày kết thúc:</strong> @class_info.EndDate</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="container mt-4">


    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Loại</th>
                        <th>Điểm</th>
                        <th>Nhận xét</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var grade in Model)
                    {
                        <tr>
                            <td>@(grade.AssignmentType == AssignmentType.Practice ? "Điểm thực hành" : grade.AssignmentType ==
                                    AssignmentType.Theory ? "Điểm lý thuyết" : grade.AssignmentType)
                            </td>
                            <td>@grade.Score</td>
                            <td>@grade.Comments</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
